.drag-drop-container {
  width: 100%;
  min-height: 550px;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(32, 20, 4, 0.05);
  background-color: #ffffff;
  padding: 30px;

  position: relative;
  
  .drag-drop-div {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border: dashed 2px #ebebeb;
    background-color: #fcfafa;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .folder-2 {
      width: 58px;
      height: 54px;
      object-fit: contain;
      opacity: 0.7;
      &:hover {
        opacity: 9;
        cursor: pointer;
        box-shadow: 0 0 3px 0 #ebebeb;
      }
      &:active, &:focus {
        opacity: 1;
      }
    }
    .drag-a-file {
      font-size: 26px;
      font-weight: 500;
      line-height: 0.96;
      text-align: center;
      color: #2e221e;
      margin-top: 25px;
      .btn-link {
        padding-bottom: 0;
        padding-top: 0;
        .text-style-1 {
          color: #ef634c;
          font-size: 26px;
        }
      }
    }
    .has-file {
      margin-top: 0px;
      text-align: left;
      font-size: 16px;
    }
    .store-src {
      margin-top: 10px;
      .store-src-item{
        margin: 0 10px;
        opacity: 0.7;
        &:hover {
          opacity: 9;
          cursor: pointer;
          box-shadow: 0 0 3px 0 #ebebeb;
        }
        &:active, &:focus {
          opacity: 1;
        }
      }

    }
    .you-can-use {
      font-size: 14px;
      line-height: 1.29;
      color: #9ea0a5;
      margin-top: 20px;
      text-align: center;
    }
  }
  .has-files {
    flex-direction: row; 
  }
}
.drag-has-file {
  min-height: 200px;
}

.file-list {
  margin-top: 10px;

  .file-listing {
    background: white;
    height: 80px;
    border-radius: 3px;
    padding: 18px 30px;
    box-shadow: 0 3px 6px 0 rgba(32, 20, 4, 0.05);

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .file-content{
      display: flex;
      img {
        width: 33px;
        height: 44px;
      }
      .file-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .doc-file-name {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.31;
          color: #2e221e;
        }
        .doc-file-info {

          line-height: 1.29;
          color: #9ea0a5;
        }
      }
    }
    i {
      color: #9ea0a5;
      &:hover {
        color: #8a6454;
        cursor: pointer;          
      }
    }
  }
}
