.control-actions {
  button {
    height: 43px;
  }
  select {
    height: 43px !important;
  }
  .top-menu-icon {
    font-size: 20px;
  }
}
.sign-items {
  width: 100%;
  height: 200px;
  background: gray;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.content-container {
  display: flex;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(32, 20, 4, 0.05);
  background-color: #ffffff;
  .documents {
    padding: 15px;
    overflow-y: auto;
    max-height: 815px;
    .title {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.56;
      color: #2e221e;
    }
    .documents-list {
      width: 100%;
      .document-content {
        width: 100%;
        .item-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 15px;
          &:hover {
            cursor: pointer;
            font-weight: 500;
          }
        }
        .item-pages {
          width: 100%;
          .page-content {
            width: 100%;
            margin-bottom: 15px;
            .pdf-content {
              width: 100%;
              height: 100%;
              border-radius: 5px;
              &:hover {
                // box-shadow: 0 0 3px 0 #775649;
                border: solid 2px #775649;
                cursor: pointer;
              }
              canvas {
                // height: 100% !important;
              }
            }
            .selected-pdf {
              border: solid 2px #775649;
            }
            .page-no {
              margin-top: 15px;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .details-right {
    width: 15px;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #ebebeb;
    background-color: #fcfafa;
  }
}
.doc-list {
  width: 15%;
  transition: width 0.8s linear;
}
.preview-doc {
  width: 85%;
}
.doc-list.closed {
  // display: none;
  width: 0%;
}
.preview-doc.closed {
  width: 100%;
}