.document-list {
  .doc-icon {
    width: 32px;
  }
  .action-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .action-search-field {
      display: flex;
      align-items: center;
      input {
        height: fit-content;
        padding: 10px 15px;
      }
      .mobile-style {
        @media (max-width: 500px) {
          max-width: 85px;
        }
      }
    }
  }
  .actions-table {
    .table-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 20px;
    }
    .table-body {
      .table-row {
        padding: 0 0;
        &:hover {
          cursor: pointer;
          background: rgba(119, 86, 73, 0.035);
        }
        .btn {
          height: unset !important;
        }
        .row-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 8px 20px;
          @media (max-width: 1100px) {
            flex-wrap: wrap;
          }
        }
        .row-body {
          border-top: solid 1px lightgray;
          .user-document {
            border-top: solid 1px lightgray;
            padding: 12px 12px 12px 42px;
            .doc-div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 10px;
              border: dashed 2px #ebebeb;
              background-color: #ffffff;
            }
          }
        }
        .row-detail {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 7px 20px;
          border-bottom: solid 1px lightgray;

          .remove-margin-left {
            margin-left: 0;
          }
          .user-name {
            font-size: 14px;
            line-height: 1.36;
            text-align: left;
            color: #41302a;
          }

          @media (max-width: 500px) {
            padding: 10px;
            flex-wrap: wrap;
          }
        }
        .add-margin-left {
          margin-left: 42px;

          @media (max-width: 500px) {
            margin-left: 15px;
          }
        }
      }
    }
    .col-basic-info {
      margin-left: 10px;
      display: flex;
      align-items: center;
      .doc-name {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.31;
        color: #2e221e;
      }
      .senders {
        margin-top: 5px;
      }
      @media (max-width: 500px) {
        margin-left: 5px;
      }
    }
    .col-status {
      min-width: 300px;
      .status {
        border-radius: 5px;
        background-color: rgb(251, 239, 230);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.36;
        text-align: center;
        min-width: 200px;
        width: 219px;
        padding: 13px;

        @media (max-width: 1100px) {
          min-width: 100px;
          width: 100px;
          margin-right: 10px;
        }
      }
      .completed {
        color: #8a6454;
      }
      .waiting {
        color: #d4670b;
      }

      @media (max-width: 1100px) {
        min-width: 100px;
        margin-left: 20px;
        margin-top: 10px;
      }
    }
    .col-last-change {
      min-width: 200px;
      .date {
        font-size: 15px;
        font-weight: 500;
        text-align: left;
        color: #202020;
      }
      @media (max-width: 1100px) {
        min-width: 100px;
      }
    }
    .col-action {
      min-width: 100px;
      display: flex;
      align-items: center;
      i {
        font-size: 20px;
        color: #9ea0a5;
        &:hover {
          color: #8a6454;
          cursor: pointer;
        }
      }
    }
  }
}

.selected {
  font-weight: bold;
  color: #8a6454;
}