.personal-plan {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .payment-header {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.31;
    color: #2e221e;
  }
  .mastercard {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    color: #202020;
  }
}

.payment-history {
  .history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  .history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    font-size: 16px;
    font-weight: 500;
    color: #2e221e;
  }
  
  .other-fields {
    width: calc((100% - 88px) / 4);
  }
  .receipt {
    width: 88px;
  }
}

.payment-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
}
.modal-header {
  border-bottom: none;
}
label {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.36;
  color: #202020;
}