@import url("https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield");
.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }
  .user-happy {
    display: flex;
    align-items: center;
    max-width: 700px;
    .user-name {
      font-size: 26px;
      font-weight: 500;
      line-height: 1.31;
      color: #2e221e;
    }
  }
  .user-connection {
    .connect-social {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.56;
      color: #2e221e;
    }
    .socials {
      margin-top: 30px;
    }
  }
}
