.logo-img {
  max-width: 255px;
  padding: 20px 17px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
}
.select-color {
  display: flex;
  border: solid 1px #ebebeb;
  background-color: #f5f5f5;
  .color-pan {
    height: 40px;
    border-color: solid 1px #ebebeb;
    // border: none;
    width: 40px;
  }
  .color-text {
    display: flex;
    padding-left: 15px;
    align-items: center;
  }
}
.color-collapse {
  margin-top: 5px;
  padding: 15px 12px;
  width: 100%;
  box-shadow: 0 3px 6px 0 rgba(32, 20, 4, 0.05);
  border: solid 1px #ebebeb;
  background-color: #ffffff;
}
.enable {
  background: white;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 3px 0 #775649;
  }
}
.doc-format {
  border: dashed 1px #ebebeb;
  margin-bottom: 30px;
  .doc-header {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 2px #ebebeb;
    border-bottom: solid 1px #ebebeb;
  }
  .doc-content {
    padding: 30px;
  }
  .doc-title {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
  }
  .doc-top-border {
    border-top: solid 1px #f3f3f3;
  }
  .doc-item {
    padding: 15.5px 0;
    border-bottom: solid 1px #f3f3f3;
  }
  .doc-subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    color: #2e221e;
    margin-bottom: 15px;
  }
}

.doc-text {
  font-size: 14px;
  line-height: 1.43;
  color: #9ea0a5;
}

.doc-footer {
  text-align: center;
}
#edit-style-modal{
  .modal-dialog {
    .edit-style-modal {
      padding: 30px;
      padding-top: 0;
      background: white;
      .title {  
        font-size: 26px;
        font-weight: 500;
        line-height: 1.35;
        text-align: center;
        color: #41302a;
        margin-bottom: 10px;
      }
    }
  }
}