@import url("https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield");
.sign-stamp {
  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: dashed 2px #ebebeb;
    background-color: #fcfafa;
    .header {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.31;
      color: #2e221e;
      margin-bottom: 10px;
    }
    .max-width-220px {
      max-width: 220px;
    }
  }
  .sign-signature {
    padding: 15px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .sign {
      font-family: "Mrs Saint Delafield";
      font-size: 30px;
      line-height: 1.53;
      color: #775649;
      text-align: center;
    }
    .initials {
      font-size: 40px;
    }
  }

  .mark {
    width: 100px;
    height: 100px;
  }
  .actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .action {
      margin: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .stamp {
    width: calc(50% - 10px);
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // @media (max-width: 500px) {
    //   width: 100%;
    //   margin: 0px;
    // }
    .stamp-action {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      .action {
        margin: 7px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
}
#create-signature-modal{
  .modal-dialog {
    width: 924px;    
    @media (max-width: 600px) {
      width: unset;
    }
    .create-signature-modal {
      padding: 30px;
      padding-top: 0;
      background: white;
      .title {
        font-size: 36px;
        font-weight: bold;
        line-height: 1.33;
        text-align: center;
        color: #2e221e;
        margin-bottom: 50px;
        @media (max-width: 600px) {
          margin-bottom: 20px;
        }
      }
      .draw-signature, .draw-initials {
        min-height: 316px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        font-weight: 500;
        line-height: 1.31;
        text-align: center;
        color: rgba(#2e221e, 0.3);
      }
      .draw-placeholder .sign-img{
        width: 100%;
      }
      .reset {
        position: absolute;
        right: 40px;
        bottom: 0px;
      }
      .signatures {
        padding-left: 40px;
        padding-right: 40px;
        position: relative;
        .sign-result {
          border-radius: 5px;
          border: solid 1px #ebebeb;
          min-height: 235px;
          color: #202020;
          font-family: "Mrs Saint Delafield";
          line-height: 1.51;
          padding: 12px;
          max-height: 235px;

          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          height: 100%;
          position: relative;
          cursor: pointer;

          .signature-text {
            font-size: 39px;
          }
          .hr-bar {
            border-top: solid 1px #ebebeb;
            width: 100%;
          }
          .initials-text {
            font-size: 60px;
            height: 60px;
          }
          .check-box {
            position: absolute;
            left: 0;
            bottom: 0;
          }

        }
        .checked {
          border-color: #ef634c;
          border-width: 2px;
        }
        .left-button {
          position: absolute;
          left: 0px;
          top: calc(50% - 11px);
          font-size: 22px;
        }
        .right-button {
          position: absolute;
          right: 0px;
          top: calc(50% - 11px);
          font-size: 22px;
        }
      }
      .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width:600px) {
          flex-direction: column;
        }
        .summary {
          max-width: 542px;
          font-size: 12px;
          line-height: 1.67;
          text-align: left;
          color: #9ea0a5;
        }
        .buttons {
          display: flex;
          align-items: center;
          button {
            padding-left: 45px;
            padding-right: 45px;
          }
        }

      }
    }
  }
}

#create-stamp-modal{
  .modal-dialog {
    width: 924px;
    @media (max-width: 600px) {
      width: unset;
    }
    .create-signature-modal {
      padding: 30px;
      padding-top: 0;
      background: white;
      .title {
        font-size: 36px;
        font-weight: bold;
        line-height: 1.33;
        text-align: center;
        color: #2e221e;
        margin-bottom: 50px;
        
        @media (max-width: 600px) {
          margin-bottom: 20px;
        }
      }
      .draw-signature, .draw-initials {
        min-height: 316px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        font-weight: 500;
        line-height: 1.31;
        text-align: center;
        color: rgba(#2e221e, 0.3);
      }
      .reset {
        position: absolute;
        right: 40px;
        bottom: 0px;
      }
      .signatures {
        padding-left: 40px;
        padding-right: 40px;
        position: relative;
        .sign-result {
          border-radius: 5px;
          border: solid 1px #ebebeb;
          min-height: 235px;
          color: #202020;
          font-family: "Mrs Saint Delafield";
          line-height: 1.51;
          padding: 12px;

          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          height: 100%;
          position: relative;
          cursor: pointer;

          .signature-text {
            font-size: 39px;
          }
          .hr-bar {
            border-top: solid 1px #ebebeb;
            width: 100%;
          }
          .initials-text {
            font-size: 60px;
            height: 60px;
          }
          .check-box {
            position: absolute;
            left: 0;
            bottom: 0;
          }

        }
        .checked {
          border-color: #ef634c;
          border-width: 2px;
        }
        .left-button {
          position: absolute;
          left: 0px;
          top: calc(50% - 11px);
          font-size: 22px;
        }
        .right-button {
          position: absolute;
          right: 0px;
          top: calc(50% - 11px);
          font-size: 22px;
        }
      }
      .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width:600px) {
          flex-direction: column;
        }
        .summary {
          max-width: 542px;
          font-size: 12px;
          line-height: 1.67;
          text-align: left;
          color: #9ea0a5;
        }
        .buttons {
          display: flex;
          align-items: center;
          button {
            padding-left: 45px;
            padding-right: 45px;
          }
        }

      }
    }
  }
}

.draw-pan {
  // position: absolute;
  // top: 5px;
  // bottom: 5px;
  // left: 5px;
  // right: 5px;
}